<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Post Adder</title>
  <link rel="stylesheet" href="post-a-post.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <div>
      <post-a-post @post-added="addPostToCloud"></post-a-post>
        <div class="text-form__show-group">
          <div class="user-post__date-block" v-for="(postCloud, key) in postClouds">
            <p class="block-date">Post from {{ key }}</p>
            <div class="user-post__block">
              <div class="user-post__checkbox">
                <input type="checkbox" @change="isChecked = true">
              </div>
              <div class="user-post__text">
                <p v-for="(postCloud, key, index) in postClouds"><em>{{ postCloud[key][index].postTime }}</em><br>{{ postCloud[key][index].postText }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<script src="post-a-post.js"></script>
</body>
</html>
